<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      h1{
        color:red;
        background: blue;
      }
      h2{
        color:red;
        background: blue;
      }
      </style>
    <meta charset="utf-8">
    <title>welcome to Template</title>
  </head>
  <body>
    <h1>Template gaming show:</h1><br>
    <h1>Django is real hero of python:</h1><hr>
    <h2>The server date and time now:{{date_msg}}</h2>
    <h2>Plz follow social meida :</h2>
    <img src="sachin.jpg" alt="">
    <img src="sunny.jpg" alt="">
    <a href="https://facebook.com">facebook</a><br>
    <a href="https://twitter.com">twitter</a>


  </body>
</html>
